input {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid grey;
}

label {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
}

textarea {
    font-size: 1.4rem;
    width: 100%;
    height: 6rem;
    display: block;
    margin-bottom: 2rem;
    border-radius: 5px;
}